.Cache {
   width: 33%;
   height: 100%;
}

.Cache-list {
   display: flex;
   text-align: left;
   justify-content: center;
}

.Cache-time {
   margin-left: 10px;
}

.Cache-text {
   margin-left: 15px;   
}