.Nav {
    display: flex;
    background: linear-gradient(180deg, #DC291E 70%, #A81F18 100%);
    height: 120px;
    justify-content: center;

}

.logo {
}

.logo img {

    width: 260px;
    height: 110px;
}